/* Fonts */

h1,h2,h3,h4,h5,h6, button{
    font-family: 'Inter', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
}

/* font-family: 'Lobster', cursive; */

/* General style */
*{
    margin: 0;
}

/* Header */
header{
    text-align: center;
    /* height: 600px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(18, 18, 18, 0.3), rgba(18, 18, 18, 1)), url('images/donation0.jpg');
    padding: 200px 0;
}

header h1{
    font-size: 60px;
    color: #ffffff;
}

header p{
    font-size: 16px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 28px;
}

.btn-primary{
    color: #ffffff;
    background: tomato;
    border: 0;
    border-radius: 6px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: 600;
}

